<article class="blog-card" role="listitem">
  <h2 class="blog-title"><a class="blog-title-link" href="/blog">Go to Blog Index</a></h2>
  <p class="blog-excerpt">Browse all published articles.</p>
</article>
